.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}


.inner-content-end {
  height: calc(120px - 70px);
}

.active {
  background-color: #1890ff;  /* You can customize the background color */
  color: #fff;  /* You can customize the text color */
  font-weight: bold;  /* You can customize the font weight */
}
