<nz-layout class="h-100">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="350px">
    <div class="logo"></div>  
    <app-stm-chart></app-stm-chart>
    <ul nz-menu  nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="STM" nzIcon="area-chart">
        <ul>
          <li nz-submenu nzTitle="Biểu đồ tổng quan" nzIcon="area-chart">
            <ul>
              <li nz-menu-item [routerLink]="'/dashboard/stm/shipment-by-status'" routerLinkActive="active">Trạng thái
                chuyến
              </li>
              <li nz-menu-item [routerLink]="'/dashboard/stm/shipment-by-total'" routerLinkActive="active">Tổng</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Biểu đồ đánh giá" nzIcon="area-chart">
            <ul>
              <li nz-submenu nzTitle="Kế Hoạch" nzIcon="area-chart">
                <ul>
                  <li nz-menu-item>Tom</li>
                  <li nz-menu-item>Bill</li>
                  <li nz-menu-item>Alex</li>
                </ul>
              </li>
              <li nz-submenu nzTitle="Vận Tải" nzIcon="area-chart">
                <ul>
                  <li nz-menu-item>Tom</li>
                  <li nz-menu-item>Bill</li>
                  <li nz-menu-item>Alex</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Chỉ số đánh giá hiệu quả công việc" nzIcon="area-chart">
            <ul>
              <li nz-menu-item>Tom</li>
              <li nz-menu-item>Bill</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content class="p-1">
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="inner-content-end">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
