<nz-layout class="h-100">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="350px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" class="ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open">
      <app-stm-chart></app-stm-chart>
      <app-student-list-navbar></app-student-list-navbar>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content class="p-1">
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="inner-content-end">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>