<li nz-submenu nzTitle="Chi tiết học sinh" nzIcon="area-chart">
    <ul>
        <li nz-menu-item [routerLink]="'/dashboard/student/table-student'">
            <span nz-icon nzType="usergroup-delete"></span>
            <span>Danh sách sinh viên</span>
        </li>

        <li nz-submenu nzTitle="Chỉ số đánh giá hiệu quả công việc" nzIcon="area-chart">
            <ul>
                <li nz-menu-item>Tom</li>
                <li nz-menu-item>Bill</li>
                <li nz-menu-item>Alex</li>
            </ul>
        </li>
    </ul>
</li>